#Allow platform apps to interact with dtseagleservice
binder_call(platform_app, dtseagleservice)

#Allow platform apps to interact with fido daemon
binder_call(platform_app, fidodaemon)

#Allow platform apps to interact with imscm daemon
binder_call(platform_app, imscm)

# smd11 is specific to CSVT app
allow platform_app smd11_device:chr_file rw_file_perms;
